<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discard</title>
</head>
<body>

<form id="actions" method="post" onsubmit="return CheckBoxCount(this)" ;> {% csrf_token %}
    {% for card in cards %}
    {{ card.card.cardName }}
    <input type="checkbox" name="cardnames" value={{ card.card.cardName }}>
    <td><img src="/static/images/{{card}}.jpg" height="350">
        {% endfor %}


        <p> Which cards do you want to discard?</p>
        <input type="submit" id="test" value="Submit">
</form>

<script type="text/javascript">

    function CheckBoxCount() {
        var inputList = document.getElementsByTagName("input");
        var numChecked = 0;

        for (var i = 0; i < inputList.length; i++) {
            if (inputList[i].type == "checkbox" && inputList[i].checked) {
                numChecked = numChecked + 1;
            }
        }
        if (numChecked < 2) {
            alert("You must pick 2 !"); return false;
        } else if (numChecked > 2) {
            alert("You must pick  2 !"); return false;
        }
        return true;

    }


</script>
</body>
</html>
