<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lose Influence</title>
</head>
<body>

<form id="actions" method="post"> {% csrf_token %}
    {% for card in cards %}
    {{ card.card.cardName }}
    <input type="checkbox" name="cardnames" value={{ card.card.cardName }}>
    <td><img src="/static/images/{{card}}.jpg" height="350">
        {% endfor %}


        <p> Which card do you want to lose?</p>
        <input type="submit" value="Submit">
</form>

<script type="text/javascript">
function checkboxlimit(checkgroup, limit){
	var checkgroup=checkgroup
	var limit=limit
	for (var i=0; i<checkgroup.length; i++){
		checkgroup[i].onclick=function(){
		var checkedcount=0
		for (var i=0; i<checkgroup.length; i++)
			checkedcount+=(checkgroup[i].checked)? 1 : 0
		if (checkedcount>limit){
			alert("You can only select a maximum of "+limit+" checkboxes")
			this.checked=false
			}
		}
	}
}

checkboxlimit(document.forms.actions.cardnames, 1)




</script>
</body>
</html>
