ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"] {
  display: none
}

label {
  border: 1px solid #fff;
  padding: 10px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}




label:before {
  background-color: white;
  color: white;
  content: " ";
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {

  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.ruleCard img{
 width: 100%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}
.cards img{
  width: 40%;
  height: auto;
}

.hi {
  background-color: #3498DB;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 5px 0 5px 0;
  font-weight: bold;
}

table.HistoryHeader {
border-spacing: 0;
 font-weight: bold;
 font-size: 19px;
 color: #3498DB;
 border: 2px solid #3498DB;
}

table.RulesHeader {
border-spacing: 0;
 font-weight: bold;
 font-size: 19px;
 color: red;
 border: 2px solid red;
}

.history {
 font-size: 16px;
 color: #3498DB;
}

.rules {
 font-size: 16px;
}

p {
  font-weight: bold;
  font-size: 16px;
  color: ##0000b3;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 5px 0 5px 0;
  font-weight: bold;
  display: none;
}


thead tr th {
    height: 30px;
    line-height: 30px;
}

table.HistoryHeader tbody {
    height: 100 px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.RulesHeader tbody {
    height: 100 px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody { border-top: 2px solid #3498DB; }

tbody td:last-child, thead th:last-child {
    border-right: none;
}



.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}





.show {display: block;}

