<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'coup/style.css' %}" xmlns="http://www.w3.org/1999/html">
<script src="{% static 'coup/card_count.js' %}"></script>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Discard</title>
</head>
<body>


<form id="actions" method="post" onsubmit="return checkboxlimit(document.getElementsByName('cardnames'), {{cards|length}}-2);"> {% csrf_token %}
    {% for card in cards %}
    <input type="checkbox" class="chk" name="cardnames" id={{forloop.counter}} value={{ card.card.cardName }}>
    <label for={{forloop.counter}}><img class="img" src="/static/images/{{card}}.jpg" height="350"/></label>
    {% endfor %}

    <p> Which cards do you want to keep?</p>
    <input type="submit" id="test" value="Submit">
</form>

</body>
</html>
