<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'coup/style.css' %}">
<script src="{% static 'coup/card_count.js' %}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lose Influence</title>
</head>
<body>

<form id="actions" method="post"> {% csrf_token %}
    {% for card in cards %}
    {{ card.card.cardName }}
    <input type="checkbox" class="chk" name="cardnames" id={{forloop.counter}} value={{ card.card.cardName }}>
    <label for={{forloop.counter}}><img class="img" src="/static/images/{{card}}.jpg" height="350"/></label>
    {% endfor %}

    <p> Which card do you want to lose?</p>
    <input type="submit" value="Submit">
</form>

<script type="text/javascript">
checkboxlimit(document.forms.actions.cardnames, 1)

</script>

</body>
</html>
