{% extends "base_generic.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coup</title>


</head>
<!--<body oncontextmenu="return false">-->

<style>
.cards img{
  width: 40%;
  height: auto;
}
</style>



{% load static %}
<table style='border-collapse: collapse;'>
  <col width="40%">
  <col width="40%">
  <tr>
    {% for player in players %}
      <td class="cards">
        <p style=text-align:top;><strong>{{player.playerName}}</strong> has {{player.coins}} coins</p>
        {% for card in player.hand.all %}
            {% if card.status == 'U' %}
              <img src="/static/images/{{card}}.jpg"  style=opacity:0.4; {{card}}>
            {% elif card.status == 'D' %}
              {% if user.get_username ==  player.playerName %}
                <img src="/static/images/{{card}}.jpg" {{card}}>
              {% else %}
                <img src="/static/images/down.png" {{card}}>
              {% endif %}
            {% endif %}
        {% endfor %}
      </td>
      {% if forloop.counter|divisibleby:2 %}</tr><tr><td><br><br></td></tr><tr>{% endif %}
    {% endfor %}
  </tr>
</table>


<script>
    window.setTimeout(function () {
    location.reload();
}, 10000); // refresh/redirect after 5 seconds.







</script>

</body>
</html>
{% endblock %}
